p {
    background: antiquewhite;
    color: dimgray;
}
h1 {
    background: #f39979;
    color: blueviolet;
}
h2{
    background:  #f39979;
    color: blueviolet;
}
ul {
    background: bisque;
    color: blue;
}